pipeline/copy_pipeline.json
{
	"name": "copy_pipeline",
	"properties": {
		"activities": [
			{
				"name": "copy_data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "current_timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get_file_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "cdc_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "csv_source",
						"type": "DatasetReference",
						"parameters": {
							"s_filename": {
								"value": "@activity('get_file_metadata').output.childItems[0].name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "csv_destination",
						"type": "DatasetReference",
						"parameters": {
							"p_filename": {
								"value": "@concat(\n    replace(activity('get_file_metadata').output.childItems[0].name, '.csv', ''),\n    '_',\n    formatDateTime(convertFromUtc(variables('current'), 'Pakistan Standard Time'), 'yyyy-MM-dd HH-mm-ss'),\n    ' PKT.csv'\n)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "current_timestamp",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_timestamp",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cdc_lookup",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dynamic_Json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_file_metadata",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "responseFromGit",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "webrequest",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "webresponse",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "only_selected_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "for_each_csv",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "only_selected_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('only_selected_files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If_file_matches",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@{startswith(item().name, 'dbo')}",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy_csv_all",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "csv_files_source",
												"type": "DatasetReference",
												"parameters": {
													"p_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "csv_files_dest",
												"type": "DatasetReference",
												"parameters": {
													"d_file": {
														"value": "@concat(\n    replace(item().name, '.csv', ''),\n    '_',\n    formatDateTime(convertFromUtc(utcNow(), 'Pakistan Standard Time'), 'yyyy-MM-dd HH-mm-ss'),\n    ' PKT.csv'\n)",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Success Log",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "copy_csv_all",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Log",
											"value": {
												"value": "@{concat(item().name, '- successfully copied at ', \nformatDateTime(utcNow(), 'yyyy-MM-dd HH:mm'))}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Fail Log",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "copy_csv_all",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Log",
											"value": {
												"value": "@{concat('Failed to copy ', item().name, ' at ', formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm'))}",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_filename": {
				"type": "string"
			}
		},
		"variables": {
			"current": {
				"type": "String"
			},
			"Log": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-22T18:32:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}